@import "tailwindcss";

@theme {
  --color-primary: #2d6a4f;
  --color-primary-light: #40916c;
  --color-text-dark: #495057;
  --color-text-muted: #adb5bd;
  --color-background: #f8f9fa;
  --color-card: #ffffff;
  --color-footer: #343a40;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
